@model VanStoreBE.Models.Customer

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CHO TIẾT KHÁCH HÀNG</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Mã Khách hàng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CusPassword)
        </dd>

        <dt>
            Tên Khách Hàng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CusName)
        </dd>

        <dt>
            Email Khách hàng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CusEmail)
        </dd>

    </dl>
</div>
@Html.ActionLink("Quay lại", "Index", null, new { @class = "btn btn-info" })
